@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #666;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #333;
  }
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .input-wrapper {
    @apply relative rounded-full overflow-hidden;
    background: rgba(0, 0, 0, 0.1);
  }

  .input-wrapper.active::before {
    background: conic-gradient(
      rgba(60, 0, 255, 0.4) 0deg,
      transparent 360deg
    );

    @apply absolute h-[1000%] w-[150%] left-[-25%] top-[-450%] content-[''] animate-border-spin;
  }
  .input-wrapper.active .input-content {
    background: rgb(231, 230, 254);
  }

  .input-content {
    @apply absolute h-[calc(100%-4px)] w-[calc(100%-4px)] left-[2px] top-[2px] rounded-full px-4;
    background: var(--background-color);
  }
}